*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    position: relative;
    width: 100vw;
}

.game-board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: calc(100vmin * 0.8);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: calc(100vmin * 0.8);
}

.cell {
    border: 1px solid #000;
    position: relative;
}

.cell:nth-child(-n+3) {
    border-top: 0;
}

.cell:nth-child(3n+1) {
    border-left: 0;
}

.cell:nth-child(3n) {
    border-right: 0;
}

.cell:nth-child(n+7) {
    border-bottom: 0;
}